<!DOCTYPE html>
<html lang="es">

<head>
    {% load socialaccount %}

    {% load static %}

    {% block title %}
    <title>Turixcam - Camaras en vivo </title>
    {% endblock %}

    {% block description %}
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Webestica.com">
    <meta name="description" content="Turixcam - Multipurpose Online Turixcam Theme">
    {% endblock %}

    <!-- Dark mode -->
   

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'login/assets/images/favicon.ico' %}">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap">

    <!-- Plugins CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'login/assets/vendor/font-awesome/css/all.min.css' %} ">
    <link rel="stylesheet" type="text/css"
        href="{% static 'login/assets/vendor/bootstrap-icons/bootstrap-icons.css' %} ">
    <link rel="stylesheet" type="text/css" href="{% static 'login/assets/vendor/flatpickr/css/flatpickr.min.css' %} ">


    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'login/assets/css/style.css' %} ">
    <style>
        .navbar-mobile-control {
            background-color: rgba(255, 255, 255, 0.807) !important;
            width: 100% !important;
        }
    
        @media (min-width: 768px) {
            .navbar-mobile-control {
                width: 50% !important;
            }
        }
    </style>
    
</head>

<body class="">

    {% block content %}

    {%endblock %}



    <!-- Back to top -->
    <div class="back-top"></div>

    <!-- Navbar mobile START -->
    <div class="navbar navbar-mobile navbar-mobile-control" >
        <ul class="navbar-nav">
            <!-- Nav item Home -->
            <li class="nav-item">
                <a class=" fs-4 " style="color: #007AFF;" id="nav_mobile_inicio" href="{% url 'render_init_page' %}"><i
                        class="bi bi-house-door "></i>
                </a>
            </li>

            <!-- Nav item My Trips -->
            <li class="nav-item">
                <a class=" fs-4" style="color: #007AFF;" id="nav_mobile_camaras" href="{% url 'view_init_page' %}"><i
                        class="bi bi-camera "></i>
                </a>
            </li>

            <!-- Nav item Offer -->
            <li class="nav-item">
                <a class=" fs-4" style="color: #007AFF;" id="nav_mobile_lugares" href="#"><i class="bi bi-cursor "></i>
                </a>
            </li>

            <!-- Nav item Account -->
            <li class="nav-item">
                <a class=" fs-4" style="color: #007AFF;" id="nav_mobile_perfil" href="{% url 'view_user_profile' %}"><i class="bi bi-person-circle "></i>
                </a>
            </li>
        </ul>
    </div>
    <!-- Navbar mobile END -->

    <!-- Bootstrap JS -->
    <script src="{% static 'login/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %} "></script>

    <!-- Vendors -->
    <script src="{% static 'login/assets/vendor/flatpickr/js/flatpickr.min.js' %} "></script>

    <!-- ThemeFunctions -->

</body>

</html>