{% extends 'login/base/base.html' %}{% load static %}

{% block title %}
<title>Turixcam - Camaras en vivo </title>
{% endblock %}

{% block description %}
<!-- Meta Tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="Webestica.com">
<meta name="description" content="Turixcam - Camras en vivo">
{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
<style>
    .swiper {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 300px;
        height: 100%;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
    }

    @keyframes flotar {
        0% {
            transform: translateY(0px);
        }

        50% {
            transform: translateY(10px);
        }

        100% {
            transform: translateY(0px);
        }
    }

    .icon_float_init {
        animation: flotar 2s ease-in-out infinite;
    }

    .icon_float_end {
        animation: flotar 2.5s ease-in-out infinite;

    }

    body {
        background-image: url('https://i.redd.it/u9z9rmz2ryf21.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

    }

    header {
        background-color: rgba(0, 0, 0, 0) !important;
    }

    .nav-item .nav-link {
        color: rgb(0, 0, 0) !important;
    }

    .btn_inicio {
        border-color: white !important;
        color: white !important;

    }

    .btn_inicio:hover {
        background-color: white !important;
        color: black !important;
    }

    .border-top {
        border-radius: 10px 10px 0 0 !important;
    }

    .border-bottom {
        border-radius: 0 0 10px 10px !important;
    }

    .bg-white-offs {
        background-color: rgba(255, 255, 255, 0.76) !important;
    }

    .animate {
        animation: flotar 2.5s ease-in-out infinite;

    }

    .titulo-trans {

        background: -webkit-linear-gradient(Bottom, rgba(213, 213, 213, 0.847), rgba(255, 255, 255, 0.841));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: start;
    }

    #globo_init {
        cursor: pointer;
    }

    .mitad {
        background: linear-gradient(to bottom, rgba(213, 213, 213, 0.847) 50%, rgba(0, 0, 0, 0.55) 50%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .sep-sm-6 {
        margin-top: unset;
    }

    .titulo-sm {
        font-size: 3.7rem;
    }

    .logo-sm {
        width: 50% !important;
    }

    @media screen and (max-width: 600px) {

        .sep-sm-6 {
            margin-top: 11rem;
        }

        .titulo-sm {
            font-size: 2.5rem;
        }

        .logo-sm {
            width: 80% !important;
        }
    }

    @keyframes pulse {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(0.95);
        }

        100% {
            transform: scale(1);
        }
    }

    @keyframes explode {
        /* Define tu animación de explosión aquí */
    }
</style>

<script>
    window.onload = function () {
        // Precarga las imágenes
        let imgUrls = [
            "https://turixcam-images.b-cdn.net/Backgrounds/inicio/parapente2.png",
            "https://turixcam-images.b-cdn.net/Backgrounds/inicio/parapente.png",
            "https://turixcam-images.b-cdn.net/Backgrounds/inicio/globo.png"
        ];
        let imgs = imgUrls.map(function (url) {
            let img = new Image();
            img.src = url;
            return img;
        });

        let img = document.getElementById('globo_init');
        img.style.transition = 'transform 0.5s ease-out';

        var shiftX, shiftY;
        var lastX, lastY;
        var isDragging = false;
        var isGrowing = false;
        var growAnimation;
        var countxplote = 0;
        // Agrega un contador de clics a tu imagen
        let clickCount = 0;

        function start(event) {
            event.preventDefault();
            var clientX = event.pageX || event.touches[0].pageX;
            var clientY = event.pageY || event.touches[0].pageY;

            shiftX = clientX - img.getBoundingClientRect().left;
            shiftY = clientY - img.getBoundingClientRect().top;

            img.style.position = 'absolute';
            img.style.zIndex = 1000;
            document.body.append(img);
            moveAt(clientX, clientY);

            lastX = clientX;
            lastY = clientY;
            isDragging = true;

            // Iniciar la animación de crecimiento
            isGrowing = true;
            growAnimation = anime({
                targets: img,
                scale: 1.25, // Crecer hasta un 25%
                duration: 2000, // Duración de 2 segundos
                begin: function () {
                    if (!isGrowing) {
                        growAnimation.pause();
                    }
                },
                complete: function () {
                    if (isGrowing) {
                        countxplote++;
                        // Si la imagen todavía está creciendo después de 2 segundos, "explotar"
                        anime({
                            targets: img,
                            scale: 1.25, // Aumentar el tamaño al doble
                            opacity: 0, // Desvanecer
                            duration: 500, // Duración de 0.5 segundos
                            easing: 'easeOutCubic',
                            complete: function () {
                                console.log(countxplote)
                                // Restablecer la imagen después de la "explosión"
                                img.style.opacity = 1; // Restablecer la opacidad
                                if (countxplote === 1) {
                                    img.src = imgs[1].src;
                                } else if (countxplote === 2) {
                                    img.src = imgs[2].src;
                                } else if (countxplote === 3) {
                                    img.src = imgs[0].src;
                                    countxplote = 0;  // Reinicia el contador de explosiones
                                }
                            }
                        });
                    }
                }
            });
        }

        function move(event) {
            var pageX = event.pageX || event.touches[0].pageX;
            var pageY = event.pageY || event.touches[0].pageY;
            moveAt(pageX, pageY);
            lastX = pageX;
            lastY = pageY;
        }

        function end() {
            document.removeEventListener('mousemove', move);
            document.removeEventListener('touchmove', move);
            img.onmouseup = null;
            img.ontouchend = null;
            isDragging = false;

            // Detener la animación de crecimiento
            isGrowing = false;
        }

        function moveAt(pageX, pageY) {
            img.style.left = pageX - shiftX + 'px';
            img.style.top = pageY - shiftY + 'px';
        }

        img.addEventListener('mousedown', start);
        img.addEventListener('touchstart', start);

        document.addEventListener('mousemove', move);
        document.addEventListener('touchmove', move);

        img.addEventListener('mouseup', end);
        img.addEventListener('touchend', end);

        img.ondragstart = function () {
            return false;
        };

        img.onclick = function () {
            clickCount++;

            // Agrega una animación de pulsación
            img.style.animation = 'pulse 0.2s ease-in-out';
            setTimeout(function () {
                img.style.animation = '';
            }, 200);  // Elimina la animación después de 0.2 segundos

            if (clickCount === 3) {
                // Cambia la imagen a parapente y agrega un efecto de explosión
                img.src = imgs[0].src;
                img.style.animation = 'explode 0.5s ease-out';
            } else if (clickCount === 6) {
                // Cambia la imagen a parapente2 y agrega un efecto de explosión
                img.src = imgs[1].src;
                img.style.animation = 'explode 0.5s ease-out';
            } else if (clickCount === 9) {
                // Cambia la imagen a globo y agrega un efecto de explosión
                img.src = imgs[2].src;
                img.style.animation = 'explode 0.5s ease-out';
                clickCount = 0;  // Reinicia el contador de clics
            }
        }
    }

    window.onscroll = function () {
        let img = document.getElementById('globo_init');
        let y = window.scrollY;
        let x = (window.innerWidth / window.innerHeight) * 0.55 * y;
        let x_p = window.innerWidth;
        let y_p = window.innerHeight;

        img.style.transform = 'translate(0px,' + y + 'px)';
    }

</script>



<main>


    <section class=" d-flex justify-content-center align-items-center  " style="height: 80vh;">
        <div class="container ">
            <!-- Content and Image START -->
            <div class="row ">
                <!-- Content -->
                <div class="col-lg-7 align-self-start justify-content-center text-center  ">
                    <!-- Title -->

                    <img src="{% static 'login/assets/images/logo.png' %} " class="img-fluid logo-sm" alt="">
                    <h1 style=" color: white;text-shadow: -1px 0 #a097958e, 0 1px #a097958e, 1px 0 #a097958e, 0 -1px #a097958e;"
                        class="fw-bold titulo-sm">México, como nunca lo habias visto</h1>
                    <br>
                    <button type="button" class="mt-lg-0 mt-3 btn btn_inicio btn-outline-light">Explorar</button>
                </div>

                <!-- Image -->
                <div class="col-lg-5 icon_float_init z-0 position-relative text-center">
                    <img style="filter: brightness(0.90); height: auto !important; max-width: 75% !important;"
                        id="globo_init" src="https://turixcam-images.b-cdn.net/Backgrounds/inicio/globo.png" alt="">

                </div>
            </div>
            <!-- Content and Image END 8003332222-->


        </div>
    </section>

    <br>
    <section>
        <div class="container-fluid">
            <h1 class="ms-5 titulo-trans d-xl-flex d-none" style="font-size: 8rem;">Los mejores lugares</h1>
            <h1 class=" titulo-trans text-center d-xl-none d-flex" style="font-size: 9vh;"> Luagres favoritos</h1>

            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="card card-img-scale overflow-hidden bg-transparent">
                            <!-- Image and overlay -->


                            <div class="card-img-scale-wrapper ">
                                <!-- Image -->
                                <img src="{% static 'login/assets/images/category/hotel/04.jpg' %} "
                                    class="card-img border-top" alt="hotel image">
                                <!-- Badge -->
                                <div class="position-absolute bottom-0 start-0 p-3">
                                    <div class="badge text-bg-dark fs-6 rounded-pill stretched-link"><i
                                            class="bi bi-geo-alt me-2"></i>Puebla</div>
                                </div>
                                <div id="tiempo" class="position-absolute  top-0 end-0 ">
                                    <div class="badge text-bg-warning fs-5  stretched-link text-center"
                                        style="border-radius: 0 0 0 25px !important;">26° <i
                                            class="fa-regular fa-sun me-2"></i> </div>
                                </div>
                            </div>

                            <!-- Card body -->
                            <div class="card-body px-2 border-bottom bg-white-offs">
                                <!-- Title -->
                                <h5 class="card-title"><a href="#" class="stretched-link">Clinica PEMEX</a></h5>
                                <!-- Price and rating -->
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6 class="text-success mb-0"> <small class="fw-light"></small>
                                    </h6>
                                    <h6 class="mb-0">0<i class="fa-solid fa-star text-warning ms-1"></i></h6>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>

    </section>

    <section style="position: relative; overflow: hidden;">
        <div class=" d-xl-flex mitad d-none justify-content-center mb-5 top-0 end-0 start-0 z-4"
            style="position: absolute; z-index: 2;">
            <h1 class=" " style="font-size: 8rem;"> SIEMPRE EN VIVO</h1>
        </div>
        <br>

        <h1 class=" titulo-trans text-center d-xl-none  d-flex z-3" style="font-size: 9vh; z-index: 2;"> SIEMPRE EN VIVO
        </h1>

        <div class="container-fluid mt-5 " style="position: relative; z-index: 2;">

            <div class="row d-flex justify-content-start" style="margin-top: 10vh; margin-bottom: 10vh;">

                <div class="col-xl-5 text-center">
                    <!-- Features START -->
                    <div class="row g-4">
                        <!-- Item -->
                        <div class="col-sm-6">
                            <div class="card" style="background-color: rgba(255, 255, 255, 0.764);">
                                <div class="card-body">
                                    <div class="icon-lg bg-primary bg-opacity-10 text-primary rounded-circle">
                                        <i class="fa-solid fa-utensils"></i>

                                    </div>
                                    <h5 class="mt-2">Eventos especiales</h5>
                                    <p class="mb-0">Disfrutalos desde la comodidad de tu hogar.</p>
                                </div>

                            </div>

                        </div>
                        <!-- Item -->
                        <div class="col-sm-6">
                            <div class="card" style="background-color: rgba(255, 255, 255, 0.764);">
                                <div class="card-body">
                                    <div class="icon-lg bg-success bg-opacity-10 text-success rounded-circle"><i
                                            class="fa-solid fa-utensils"></i></div>
                                    <h5 class="mt-2">Pueblos mágicos</h5>
                                    <p class="mb-0">Conoce estos fantasticos lugares.</p>
                                </div>

                            </div>
                        </div>
                        <!-- Item -->
                        <div class="col-sm-6">
                            <div class="card" style="background-color: rgba(255, 255, 255, 0.764);">
                                <div class="card-body">
                                    <div class="icon-lg bg-warning bg-opacity-10 text-warning rounded-circle"><i
                                            class="fa-solid fa-utensils"></i></div>
                                    <h5 class="mt-2">Atractivos turisticos</h5>
                                    <p class="mb-0">Desde tu hogar.</p>
                                </div>

                            </div>
                        </div>
                        <!-- Item -->
                        <div class="col-sm-6">
                            <div class="card" style="background-color: rgba(255, 255, 255, 0.764);">
                                <div class="card-body">
                                    <div class="icon-lg bg-success bg-opacity-10 text-success rounded-circle"><i
                                            class="fa-solid fa-utensils"></i></div>
                                    <h5 class="mt-2">Alta tecnología</h5>
                                    <p class="mb-0">Para que te conectes desde donde quieras.</p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Features END -->
                </div>

            </div>
        </div>
    </section>




    <script>


    </script>
    <!-- =======================
Featured Hotels END -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper(".mySwiper", {
            effect: "coverflow",
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: "auto",
            coverflowEffect: {
                rotate: 50,
                stretch: 0,
                depth: 100,
                modifier: 1,
                slideShadows: true,
            },
            pagination: {
                el: ".swiper-pagination",
            },
        });



    </script>

    {% endblock %}